@font-face {
	font-family: 'KozMinPr6N';
	src: url('KozMinPr6N-Regular-AlphaNum.eot?#iefix') format('embedded-opentype'), url('KozMinPr6N-Regular-AlphaNum.otf') format('opentype'), url('KozMinPr6N-Regular-AlphaNum.woff') format('woff'), url('KozMinPr6N-Regular-AlphaNum.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}